---
import Html from '~/components/Html.astro';
import BaseHead from '../components/Head.astro';
import Header from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<Html>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Under contruction 🛠️</h1>
			
		</main>
		<Footer />
	</body>
</Html>
