---
import { SITE_TITLE, SITE_DESCRIPTION } from '~/lib/consts';
import BaseLayout from '~/layouts/BaseLayout.astro';
import Blog from './blog/index.astro'
---

<Blog />

<!-- <BaseLayout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  hideFooter
>
  <h1>Under contruction 🛠️</h1>
</BaseLayout> -->