---
import { SOCIALS } from "../consts";
import { Github, Twitter } from "./icons";
// const today = new Date();
---

<footer class="bg-gradient-to-r from-[#c468fd] to-[#6883FD] pt-[2px]">
  <style>
    .text-sideways {
      writing-mode: vertical-lr;
      text-orientation: mixed;
      unicode-bidi: bidi-override;
      direction: rtl;
    }
  </style>
	<div class="bg-slate-800 text-slate-300">
    Eleumas Acnaz
    <div class="text-sideways">ZANCA</div>

    <!-- Socials -->
    <div class="flex">
      <a href={SOCIALS.X.url} target="_blank">
        <span class="sr-only">{SOCIALS.X.alt}</span>
        <Twitter/>
      </a>
      <a href={SOCIALS.GITHUB.url} target="_blank">
        <span class="sr-only">{SOCIALS.GITHUB.alt}</span>
        <Github/>
      </a>
    </div>

    
    <div class="bg-black flex justify-center">
      Made with <span class="text-yellow-300">♥</span> by Sam Zanca
    </div>
  </div>
</footer>
